<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{% block title %}Thonet-Archiv{% endblock %}</title>
    <meta name="keywords" content="Thonet, Archiv, Möbel, Grafiken, Design, Düsseldorf, Lilo Schäfer">
    <meta name="description" lang="de" content="Digitales Archiv für Grafiken der Thonet GmbH">
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css/ion.rangeSlider.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css" />

    {% block stylesheets %}{% endblock %}

    <!-- favicons -->

</head>

<body class="{% block bodyclass %}{% endblock %}">

    <div class="TEST"></div>

    {#
    <div class="header container-fluid">
        <div class="container">
            {% block header %}
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <div class="pull-left">Angemeldet als: {{ app.user.username }}</div>
                    <div class="pull-right"><a href="{{ path('_logout') }}">Logout</a></div>
                {% else %}
                    <div class="pull-right"><a href="{{ path('_login') }}">Login</a></div>
                {% endif %}
            {% endblock %}
        </div>
    </div>
    #}

    {% block top %}
        <div class="top container-fluid" id="top" style="position:fixed; z-index: 888;">
            <div class="header-balken1 row">
                <div class="col-6">
                    <a class="homepage-button" href="{{ path('_index') }}" title="Startseite">
                        <img
                            alt="Die&nbsp;Marke&nbsp;Thonet<br/>Grafik&nbsp;Archiv"
                            src="{{ asset('assets/images/Archiv_Symbole_Mobil_Grafik_Archiv.svg') }}"
                        />
                    </a>
                </div>
                <div class="col-6">
                    <button class="burger-button burger-button-open img-button" title="Menü öffnen">
                        <img
                            alt="Menü öffnen"
                            src="{{ asset('assets/images/Archiv_Symbole_Mobil_Menue.svg') }}"
                        />
                    </button>
                    <button class="burger-button burger-button-close img-button" style="display: none;" title="Menü schließen">
                        <img
                            alt="Menü schließen"
                            src="{{ asset('assets/images/Archiv_Symbole_Mobil_Menue_schliessen.svg') }}"
                        />
                    </button>
                    <a class="alle-fav-button img-button" title="persönliche Favoriten anzeigen" href="{{ path('_favoriten') }}">
                        <img
                            class="alle-fav-button-img-leer"
                            alt="Favoriten"
                            src="{{ asset('assets/images/Archiv_Symbole_Mobil_Auswahl_leer.svg') }}"
                            style="display: none;"
                        />
                        <img
                            class="alle-fav-button-img-voll"
                            alt="Favoriten"
                            src="{{ asset('assets/images/Archiv_Symbole_Mobil_Auswahl_voll.svg') }}"
                            style="display: none;"
                        /><div class="alle-fav-button-counter" style="display:none;"><span>0</span></div>
                    </a>
                </div>
            </div>
            <hr/>
            <div class="row header-balken2">
                {% block headerBalken2 %}{% endblock %}
            </div>
            <hr/>
        </div>

        <!-- gesamten header kopieren weil der erste "echte" header display:fixed hat, und somit den restlichen Content nicht vernünftig nach unten drücken kann! -->

        <div class="top container-fluid" style="visibility: hidden!important; z-index: -9999!important;">
            <div class="header-balken1 row">
                <div class="col-6">
                    <a class="homepage-button" href="{{ path('_index') }}" title="Startseite">
                        <img
                                alt="Die&nbsp;Marke&nbsp;Thonet<br/>Grafik&nbsp;Archiv"
                                src="{{ asset('assets/images/Archiv_Symbole_Mobil_Grafik_Archiv.svg') }}"
                        />
                    </a>
                </div>
                <div class="col-6">
                    <button class="burger-button burger-button-open img-button" title="Menü öffnen">
                        <img
                                alt="Menü öffnen"
                                src="{{ asset('assets/images/Archiv_Symbole_Mobil_Menue.svg') }}"
                        />
                    </button>
                    <button class="burger-button burger-button-close img-button" style="display: none;" title="Menü schließen">
                        <img
                                alt="Menü schließen"
                                src="{{ asset('assets/images/Archiv_Symbole_Mobil_Menue_schliessen.svg') }}"
                        />
                    </button>
                    <button class="alle-fav-button img-button" title="persönliche Favoriten anzeigen">
                        <img
                                alt="Favoriten"
                                src="{{ asset('assets/images/Archiv_Symbole_Mobil_Auswahl_leer.svg') }}"
                        />
                        <img
                                alt="Favoriten"
                                src="{{ asset('assets/images/Archiv_Symbole_Mobil_Auswahl_voll.svg') }}"
                                style="display: none;"
                        />
                    </button>
                </div>
            </div>
            <hr/>
            <div class="row header-balken2">
                <h1 class="col-12 header-titel">ERROR!</h1>
            </div>
            <hr/>
        </div>

    {% endblock %}


    {% block overlays %}
    {% endblock %}


    {% block burgeroverlay %}
        <section id="burger-overlay" class="overlay" style="display: none;">
            <nav class="big-text">
                <ul>
                    <li><a href="{{ path('_dasProjekt') }}">Das Projekt</a></li>
                    <li><a href="{{ path('_arbeitenImKontext') }}">Arbeiten im Kontext</a></li>
                    {#<li><a href="#">Möbel-Archiv</a></li>#}
                    <li class="close-burger-trigger"><a href="{{ path('_kontakt') }}#">Kontakt</a></li>
                    <li class="close-burger-trigger"><a href="{{ path('_kontakt') }}#impressum">Impressum</a></li>
                    <li class="close-burger-trigger"><a href="{{ path('_kontakt') }}#datenschutz">Datenschutzerklärung</a></li>
                </ul>
            </nav>
        </section>
    {% endblock %}


    <div class="inhalt">

        <div class="body container-fluid">

            {% block body %}

            {% endblock %}
        </div>

    </div>


    {% block footer %}
        <footer class="footer container-fluid">
            <hr>
            <a href="#" class="img-button nach-oben-button scroll-button" title="nach oben scrollen">
                <img src="{{ asset('assets/images/Archiv_Symbole_Mobil_Suchfilter_Menue.svg') }}" alt="zurück nach oben"/>
            </a>
        </footer>
    {% endblock %}

    <script src="{{ asset('assets/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.lazy.min.js') }}"></script>
    <script src="{{ asset('assets/js/masonry.pkgd.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.zoom.min.js') }}"></script>
    <script src="{{ asset('assets/js/js.cookie.min.js') }}"></script>
    <script src="{{ asset('assets/js/ion.rangeSlider.min.js') }}"></script>
    <script src="{{ asset('assets/js/scripts.js') }}"></script>
    {% block javascripts %}{% endblock %}

</body>
</html>
