<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Thonet-Archiv{% endblock %}</title>
    <meta name="keywords" content="Thonet, Archiv, Möbel, Design, Düsseldorf, Lilo Schäfer">
    <meta name="description" lang="de" content="Privates Onlinearchiv des Möbeldesigners Thonet.">
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css/hamburgers.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css" />

    <style> /* TEST */
        .TEST{
            background-color: red;
            position: fixed;
            top: 0;
            left: 0;
            width: 10px;
            height: 10px;
        }
        @media (max-width: 992px) {
            .TEST{
                background-color: orange;
            }
        }
        @media (max-width: 768px) {
            .TEST{
                background-color: yellow;
            }
        }
        @media (max-width: 576px) {
            .TEST{
                background-color: green;
            }
        }
    </style>

    {% block stylesheets %}{% endblock %}

    <!-- favicons -->

</head>


<body class="{% block bodyclass %}{% endblock %}">

    <div class="inhalt">

        <div class="TEST"></div>

        {#
        <div class="header container-fluid">
            <div class="container">
                {% block header %}
                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        <div class="pull-left">Angemeldet als: {{ app.user.username }}</div>
                        <div class="pull-right"><a href="{{ path('_logout') }}">Logout</a></div>
                    {% else %}
                        <div class="pull-right"><a href="{{ path('_login') }}">Login</a></div>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
        #}

        {% block top %}
            <div class="top container-fluid" id="top">
                <div class="header-balken1 row">
                    <div class="col-9">
                        <a class="homepage-button" href="{{ path('_index') }}">
                            <img
                                alt="Die&nbsp;Marke&nbsp;Thonet<br/>Grafik&nbsp;Archiv"
                                src="{{ asset('assets/images/Archiv_Symbole_Mobil_Grafik_Archiv.svg') }}"
                            />
                        </a>
                    </div>
                    <div class="col-3">
                        <button class="burger-button burger-button-open img-button">
                            <img
                                alt="Menü öffnen"
                                src="{{ asset('assets/images/Archiv_Symbole_Mobil_Menue.svg') }}"
                            />
                        </button>
                        <button class="burger-button burger-button-close img-button" style="display: none;">
                            <img
                                alt="Menü schließen"
                                src="{{ asset('assets/images/Archiv_Symbole_Mobil_Menue_schliessen.svg') }}"
                            />
                        </button>
                    </div>
                </div>
                <hr/>
                <div class="row header-balken2">
                    {% block headerBalken2 %}{% endblock %}
                </div>
                <hr/>
            </div>

            <!-- copy whole header because first real header is display:fixed

            <div class="top container-fluid" style="visibility: hidden!important;">
                <div class="row">
                    <div class="col-9">
                        <a class="homepage-button" href="{{ path('_index') }}">
                            <img
                                    alt="Die&nbsp;Marke&nbsp;Thonet<br/>Grafik&nbsp;Archiv"
                                    src="{{ asset('assets/images/Archiv_Symbole_Mobil_Grafik_Archiv.svg') }}"
                            />
                        </a>
                    </div>
                    <div class="col-3">
                        <button class="burger-button burger-button-open img-button">
                            <img
                                    alt="Menü öffnen"
                                    src="{{ asset('assets/images/Archiv_Symbole_Mobil_Menue.svg') }}"
                            />
                        </button>
                        <button class="burger-button burger-button-close img-button" style="display: none;">
                            <img
                                    alt="Menü schließen"
                                    src="{{ asset('assets/images/Archiv_Symbole_Mobil_Menue_schliessen.svg') }}"
                            />
                        </button>
                    </div>
                </div>
                <hr/>
            </div>
            -->

        {% endblock %}



        <div class="body container-fluid">
            {% block body %}

            {% endblock %}
        </div>

        <div class="footer container-fluid">
            {% block footer %}{% endblock %}
        </div>

        <script src="{{ asset('assets/js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.lazy.min.js') }}"></script>
        <script src="{{ asset('assets/js/masonry.pkgd.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.zoom.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.elevateZoom-3.0.8.min.js') }}"></script>
        <script src="{{ asset('assets/js/scripts.js') }}"></script>
        {% block javascripts %}{% endblock %}

    </div>
</body>
</html>
