<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Thonet-Archiv{% endblock %}</title>
    <meta name="keywords" content="Thonet, Archiv, Möbel, Design, Düsseldorf, Lilo Schäfer">
    <meta name="description" lang="de" content="Privates Onlinearchiv des Möbeldesigners Thonet.">
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css/hamburgers.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css" />
    {% block stylesheets %}{% endblock %}

    <!-- favicons -->


</head>
<body class="{% block bodyclass %}{% endblock %}">



{#
<div class="header container-fluid">
    <div class="container">
        {% block header %}
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <div class="pull-left">Angemeldet als: {{ app.user.username }}</div>
                <div class="pull-right"><a href="{{ path('_logout') }}">Logout</a></div>
            {% else %}
                <div class="pull-right"><a href="{{ path('_login') }}">Login</a></div>
            {% endif %}
        {% endblock %}
    </div>
</div>
#}

{% block top %}
    <div class="top container-fluid">
        <div class="row">
            <div class="col-9">
                <a class="homepage-button" href="{{ path('_default') }}">Die&nbsp;Marke&nbsp;Thonet<br/>Grafik&nbsp;Archiv</a>
            </div>
            <div class="col-3">
                <div class="hamburger hamburger--squeeze">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
    </div>
{% endblock %}



<div class="body container">
    {% block body %}

    {% endblock %}
</div>

<div class="footer container">
    {% block footer %}{% endblock %}
</div>

<script src="{{ asset('assets/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.lazy.min.js') }}"></script>
<script src="{{ asset('assets/js/scripts.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
