{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Arbeiten im Kontext{% endblock %}

{% block headerBalken2 %}
    <h1 class="col-12 header-titel">Arbeiten im Kontext</h1>
{% endblock %}

{% block body %}


    {# TEXT #}
    <p class="big-text half-size-text">
        Die im Archiv verzeichneten Arbeiten sind von Thonet meist selbst
        beauftragt oder erstellt worden. Es gibt jedoch zahlreiche Arbeiten von
        Künstlern, Grafikern, Architekten und vielen mehr, welche Thonet zum
        Anlass nahmen freie Arbeiten zu entwerfen, oder sie dem
        Traditionsunternehmen zu widmen. Diese Arbeiten werden hier separat
        gesammelt und vorgestellt. Genau wie das Archiv ist dies eine stetig
        wachsende Sammlung.
    </p>


    <div class="arbeiten-im-kontext">
        <section class="grid grid-gross images-overview arbeiten-im-kontext-overview">
            <div class="grid-sizer grid-item-gross" style="display: none;"></div>


    {# BILDER: #}

            {# BILD #}
            <figure class="grid-item grid-item-gross">
                <img alt="" src="{{ asset('assets/images/Geburtstagsgruss_Happy_200_Years_Fidel_Peugeot_2017.jpg') }}"/>
                <figcaption>
                    Geburtstagsgruß<br/>
                    »Happy 200 Years«<br/>
                    Fidel Peugeot, 2017
                </figcaption>
            </figure>

            {# BILD #}
            <figure class="grid-item grid-item-gross">
                <img alt="" src="{{ asset('assets/images/Bugholzschriftzug_Lilo_Schaefer_2017.jpg') }}"/>
                <figcaption>
                    Bugholzschriftzug<br/>
                    Lilo Schäfer, 2017
                </figcaption>
            </figure>

            {# BILD #}
            <figure class="grid-item grid-item-gross">
                <img alt="" src="{{ asset('assets/images/testbild.png') }}"/>
                <figcaption>
                    Bildunterschrift
                </figcaption>
            </figure>

            {# BILD #}
            <figure class="grid-item grid-item-gross">
                <img alt="" src="{{ asset('assets/images/testbild.png') }}"/>
                <figcaption>
                    Bildunterschrift 1.Zeile<br/>
                    Bildunterschrift 2.Zeile
                </figcaption>
            </figure>
        </section>



    </div>




{% endblock %}

