{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Suche{% endblock %}

{% block headerBalken2 %}
    <div class="col-5">
        <button class="img-button suchfilter-btn header-titel" href="#" title="Suchfilter anzeigen/ausblenden">Suchfilter</button>
    </div>

    <div class="col-7 resize-buttons">
        <div>
            <button class="resize-btn-klein img-button inactive-btn" data-size="klein" title="kleiner Zoom">
                <img src="{{ asset('assets/images/Archiv_Symbole_Mobil_Groessenasicht_klein_leer.svg') }}" alt="kleine Ansicht"/>
                <img src="{{ asset('assets/images/Archiv_Symbole_Mobil_Groessenasicht_klein_voll.svg') }}" alt="kleine Ansicht"/>
            </button>
            <button class="resize-btn-mittel img-button inactive-btn" data-size="mittel" title="mittelgroßer Zoom">
                <img src="{{ asset('assets/images/Archiv_Symbole_Mobil_Groessenasicht_mittel_leer.svg') }}" alt="mittelgroße Ansicht"/>
                <img src="{{ asset('assets/images/Archiv_Symbole_Mobil_Groessenasicht_mittel_voll.svg') }}" alt="mittelgroße Ansicht"/>
            </button>
            <button class="resize-btn-gross img-button inactive-btn" data-size="gross" title="großer Zoom">
                <img src="{{ asset('assets/images/Archiv_Symbole_Mobil_Groessenasicht_gross_leer.svg') }}" alt="große Ansicht"/>
                <img src="{{ asset('assets/images/Archiv_Symbole_Mobil_Groessenasicht_gross_voll.svg') }}" alt="große Ansicht"/>
            </button>
        </div>
    </div>
{% endblock %}


{% block overlays %}
    <section id="suche-overlay" class="overlay big-text" style="display: none;">
        <div class="suche-overlay-filter">

            <form id="suche-form" method="get" action="{{ path('_suche') }}">
                <var id="ajax-route" data-route="{{ path('_ajaxVorschlaege') }}" style="display: none!important;"></var>

                <ul id="blaupausen" style="display: none!important;">
                    <li class="vorschlag-item"><span class="normal-text">ERROR!</span></li>

                    <li class="auswahl-item"><span class="normal-text">ERROR!</span>
                        <button type="button" class="img-button" title="Suchbegriff entfernen">
                            <img alt="X" src="{{ asset('assets/images/Archiv_Symbole_Mobil_Suchfilter_abwaehlen.svg') }}"/>
                        </button>
                    </li>
                </ul>


                <div class="input-frame info-frame inactive">
                    <label class="label outer-label" for="Freitext-add">Freie Suche</label>
                    <label class="label inner-label" for="Freitext-add">Freie Suche</label>
                    <input
                        type="text"
                        id="Freitext-add"
                        class="add-input"
                        placeholder="Suchtext"
                        maxlength="170"
                    >
                    <div class="vorschlaege">
                        <ul>
                            <li class="vorschlag1"><span class="normal-text">Suchtext-Vorschlag 1</span></li>
                            <li class="vorschlag2"><span class="normal-text">Suchtext-Vorschlag 2</span></li>
                            <li class="vorschlag3"><span class="normal-text">Suchtext-Vorschlag 3</span></li>
                            <li class="vorschlag4"><span class="normal-text">Suchtext-Vorschlag 4</span></li>
                            <li class="vorschlag5"><span class="normal-text">Suchtext-Vorschlag 5</span></li>
                        </ul>

                    </div><div class="auswahl">
                        <ul></ul>
                    </div>

                    <hr class="input-frame-hr-bottom" />
                    <input type="hidden" name="Freitext" id="Freitext-wert" class="real-input" />
                </div>

                <div class="input-frame jahr-frame">
                    <label class="label outer-label img-button">Jahr</label>
                    <hr class="input-frame-hr-top" />
                    <label class="label inner-label img-button">Jahr</label>
                    <input type="text" class="js-range-slider real-input" name="Jahr" value=""
                           data-type="double"
                           data-min="{{ minDBJahr }}"
                           data-max="{{ maxDBJahr }}"
                           data-from="{{ minDBJahr }}"
                           data-to="{{ maxDBJahr }}"
                           data-hide-min-max="true"
                           data-prettify-enabled="false"
                    />
                    <div class="clearfix"></div>
                    <hr class="input-frame-hr-bottom" />
                </div>


                <div class="input-frame info-frame inactive">
                    <label class="label outer-label" for="Titel-add">Titel</label>
                    <hr class="input-frame-hr-top" />
                    <label class="label inner-label" for="Titel-add">Titel</label>
                    <input
                            type="text"
                            id="Titel-add"
                            class="add-input"
                            placeholder="Suchtext"
                            maxlength="170"
                    />
                    <div class="vorschlaege">
                        <ul>
                            <li class="vorschlag1"><span class="normal-text">Suchtext-Vorschlag 1</span></li>
                            <li class="vorschlag2"><span class="normal-text">Suchtext-Vorschlag 2</span></li>
                            <li class="vorschlag3"><span class="normal-text">Suchtext-Vorschlag 3</span></li>
                            <li class="vorschlag4"><span class="normal-text">Suchtext-Vorschlag 4</span></li>
                            <li class="vorschlag5"><span class="normal-text">Suchtext-Vorschlag 5</span></li>
                        </ul>

                    </div><div class="auswahl">
                        <ul></ul>
                    </div>

                    <hr class="input-frame-hr-bottom" />
                    <input type="hidden" name="Titel" id="Titel-wert" class="real-input" />
                </div>







                <br/>
                <br/>
                <button type="submit">save</button>
                <br/>
                <br/>
                <br/>
                <br/>
            </form>

        </div>
    </section>
{% endblock %}


{% block body %}

    {% if archivierungen|length == 0 %}
        <span class="big-text">Es konnten keine passenden Archivierungen zu den Sucheinstellungen gefunden werden.</span>
    {% endif %}
    
    <div class="index">
        <section class="lazy-loading grid grid-mittel images-overview">
            <div class="grid-sizer grid-item-mittel" style="display: none;"></div>

            {% for archivierung in archivierungen %}

                <a href="{{ url('_detail', {'slug': archivierung.id}) }}"
                   class="grid-item grid-item-mittel">
                    <img class="lazy" alt=""
                         src="{{ asset('assets/images/emptyPic.png') }}"
                         data-src="{{ asset('assets/images/archivierungen/' ~ archivierung.links["klein"]) }}"
                    />
                </a>

            {% endfor %}
        </section>

    </div>

{% endblock %}