{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Suche{% endblock %}

{% block headerBalken2 %}
    <div class="col-5">
        <button class="img-button suchfilter-btn header-titel" href="#" title="Suchfilter anzeigen/ausblenden">Suchfilter</button>
    </div>

    <div class="col-7 resize-buttons">
        <div>
            <button class="resize-btn-klein img-button inactive-btn" data-size="klein" title="kleiner Zoom">
                <img src="{{ asset('assets/images/Archiv_Symbole_Mobil_Groessenasicht_klein_leer.svg') }}" alt="kleine Ansicht"/>
                <img src="{{ asset('assets/images/Archiv_Symbole_Mobil_Groessenasicht_klein_voll.svg') }}" alt="kleine Ansicht"/>
            </button>
            <button class="resize-btn-mittel img-button inactive-btn" data-size="mittel" title="mittelgroßer Zoom">
                <img src="{{ asset('assets/images/Archiv_Symbole_Mobil_Groessenasicht_mittel_leer.svg') }}" alt="mittelgroße Ansicht"/>
                <img src="{{ asset('assets/images/Archiv_Symbole_Mobil_Groessenasicht_mittel_voll.svg') }}" alt="mittelgroße Ansicht"/>
            </button>
            <button class="resize-btn-gross img-button inactive-btn" data-size="gross" title="großer Zoom">
                <img src="{{ asset('assets/images/Archiv_Symbole_Mobil_Groessenasicht_gross_leer.svg') }}" alt="große Ansicht"/>
                <img src="{{ asset('assets/images/Archiv_Symbole_Mobil_Groessenasicht_gross_voll.svg') }}" alt="große Ansicht"/>
            </button>
        </div>
    </div>
{% endblock %}


{% block overlays %}
    <section id="suche-overlay" class="overlay big-text" style="display: none;">
        <div class="suche-overlay-filter">

            <form method="get" action="{{ path('_suchetest') }}">

                <div class="input-frame info-frame">
                    <label class="label outer-label" for="Freitext">Freie Suche</label>
                    <label class="label inner-label" for="Freitext">Freie Suche</label>
                    <input
                        type="text"
                        id="Freitext-add"
                        placeholder="Suchtext"
                    >
                    <hr class="input-frame-hr-bottom" />
                    <input type="hidden" name="Freitext" id="Freitext-wert" />
                </div>

                <div class="input-frame jahr-frame">
                    <label class="label outer-label img-button">Jahr</label>
                    <hr class="input-frame-hr-top" />
                    <label class="label inner-label img-button">Jahr</label>
                    <input type="text" class="js-range-slider" name="Jahr" value=""
                           data-type="double"
                           data-min="{{ minDBJahr }}"
                           data-max="{{ maxDBJahr }}"
                           data-from="{{ minDBJahr }}"
                           data-to="{{ maxDBJahr }}"
                           data-hide-min-max="true"
                           data-prettify-enabled="false"
                    />
                    <div class="clearfix"></div>
                    <hr class="input-frame-hr-bottom" />
                </div>


                <div class="input-frame info-frame">
                    <label class="label outer-label" for="Titel-add">Titel</label>
                    <hr class="input-frame-hr-top" />
                    <label class="label inner-label" for="Titel-add">Titel</label>
                    <input
                            type="text"
                            id="Titel-add"
                            placeholder="Suchtext"
                    >
                    <div class="vorschlaege">
                        <ul>
                            <li class="vorschlag1"><small class="normal-text">Suchtext-Vorschlag 1</small></li>
                            <li class="vorschlag2"><small class="normal-text">Suchtext-Vorschlag 2</small></li>
                            <li class="vorschlag3"><small class="normal-text">Suchtext-Vorschlag 3</small></li>
                            <li class="vorschlag4"><small class="normal-text">Suchtext-Vorschlag 4</small></li>
                            <li class="vorschlag5"><small class="normal-text">Suchtext-Vorschlag 5</small></li>
                        </ul>

                    </div><div class="auswahl">

                        <ul>
                            <li class="auswahl1"><small class="normal-text">Auswahl 1</small>
                                <button type="button" class="img-button" title="Suchbegriff entfernen">
                                    <img alt="X" src="{{ asset('assets/images/Archiv_Symbole_Mobil_Suchfilter_abwaehlen.svg') }}"/>
                                </button>
                            </li>

                            <li class="auswahl2"><small class="normal-text">Auswahl 2</small>
                                <button type="button" class="img-button" title="Suchbegriff entfernen">
                                    <img alt="X" src="{{ asset('assets/images/Archiv_Symbole_Mobil_Suchfilter_abwaehlen.svg') }}"/>
                                </button>
                            </li>

                            <li class="auswahl3"><small class="normal-text">Auswahl 3</small>
                                <button type="button" class="img-button" title="Suchbegriff entfernen">
                                    <img alt="X" src="{{ asset('assets/images/Archiv_Symbole_Mobil_Suchfilter_abwaehlen.svg') }}"/>
                                </button>
                            </li>

                            <li class="auswahl4"><small class="normal-text">Auswahl 4</small>
                                <button type="button" class="img-button" title="Suchbegriff entfernen">
                                    <img alt="X" src="{{ asset('assets/images/Archiv_Symbole_Mobil_Suchfilter_abwaehlen.svg') }}"/>
                                </button>
                            </li>

                            <li class="auswahl5"><small class="normal-text">Auswahl 5</small>
                                <button type="button" class="img-button" title="Suchbegriff entfernen">
                                    <img alt="X" src="{{ asset('assets/images/Archiv_Symbole_Mobil_Suchfilter_abwaehlen.svg') }}"/>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <hr class="input-frame-hr-bottom" />
                    <input type="hidden" name="Titel" id="Titel-wert">
                </div>





                <br/>
                <br/>
                Titel<br/>
                <input type="text" name="Titel">

                <br/>
                <br/>
                Auftraggeber<br/>
                <input type="text" name="Auftraggeber">

                <br/>
                <br/>
                Objektkategorie<br/>
                <input type="text" name="Objektkategorie">

                <br/>
                <br/>
                Gestaltung<br/>
                <input type="text" name="Gestaltung">

                <br/>
                <br/>
                Fotografie<br/>
                <input type="text" name="Fotografie">

                <br/>
                <br/>
                Druckerei<br/>
                <input type="text" name="Druckerei">

                <br/>
                <br/>
                Autor<br/>
                <input type="text" name="Autor">

                <br/>
                <br/>
                Material<br/>
                <input type="text" name="Material">

                <br/>
                <br/>
                Produktionsverfahren<br/>
                <input type="text" name="Produktionsverfahren">

                <br/>
                <br/>
                Sprache<br/>
                <input type="text" name="Sprache">

                <br/>
                <br/>
                Schrift<br/>
                <input type="text" name="Schrift">

                <br/>
                <br/>
                Farbe<br/>
                <input type="text" name="Farbe">

                <br/>
                <br/>
                Bilddarstellung<br/>
                <input type="text" name="Bilddarstellung">

                <br/>
                <br/>
                Hinweis<br/>
                <input type="text" name="Hinweis">

                <br/>
                <br/>
                Produktkategorie<br/>
                <input type="text" name="Produktkategorie">

                <br/>
                <br/>
                Möbel<br/>
                <input type="text" name="Möbel">

                <br/>
                <br/>
                Text<br/>
                <input type="text" name="Text">

                <br/>
                <br/>
                Archiv<br/>
                <input type="text" name="Archiv">

                <br/>
                <br/>
                <button type="submit">save</button>
                <br/>
                <br/>
                <br/>
                <br/>
            </form>

        </div>
    </section>
{% endblock %}


{% block body %}

    {% if archivierungen|length == 0 %}
        <small class="big-text">Es konnten keine passenden Archivierungen zu den Sucheinstellungen gefunden werden.</small>
    {% endif %}
    
    <div class="index">
        <section class="lazy-loading grid grid-mittel images-overview">
            <div class="grid-sizer grid-item-mittel" style="display: none;"></div>

            {% for archivierung in archivierungen %}

                <a href="{{ url('_detail', {'slug': archivierung.id}) }}"
                   class="grid-item grid-item-mittel">
                    <img class="lazy" alt=""
                         src="{{ asset('assets/images/emptyPic.png') }}"
                         data-src="{{ asset('assets/images/archivierungen/' ~ archivierung.links["klein"]) }}"
                    />
                </a>

            {% endfor %}
        </section>

    </div>

{% endblock %}