{% extends 'base.html.twig' %}

{% block body %}
    <div>

        <section class="lazy-loading grid grid-gross images-overview">
            <div class="grid-sizer grid-item-gross" style="display: none;"></div>

            {#
            <img class="lazy rightclick-alert"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                 data-src="{{ asset('assets/images/a.png') }}"
                 style="height:200px; position:relative; top:40px; transition: top .35s;"
            />
            <img class="lazy rightclick-alert"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                 data-src="{{ asset('assets/images/a.png') }}"
                 style="height:200px; position:relative; top:40px; transition: top .35s;"
            />

            <br>
            <br>
            <br>

            #}

            {% for archivierung in archivierungen %}

                <a href="{{ url('_detail', {'slug': archivierung.id}) }}"
                   class="grid-item grid-item-gross">
                    <img class="lazy" alt=""
                         src="{{ asset('assets/images/emptyPic.png') }}"
                         data-src="{{ asset('assets/images/archivierungen/' ~ archivierung.links["klein"]) }}"
                    />
                </a>

            {% endfor %}
        </section>



    </div>
{% endblock %}