{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Administratorbereich{% endblock %}

{% block headerBalken2 %}
    <h1 class="col-8 header-titel">Administratorbereich</h1>
    <div class="col-4 logout-btn">
        <a class="" href="{{ path('logout') }}" title="als Administrator abmelden">logout</a></div>
{% endblock %}

{% block body %}

    <br/>
    <section class="upload-csv">

        {{ form_start(form) }}
        {{ form_label(form.csv) }}
        <br/>
        {{ form_errors(form.csv) }}
        {{ form_widget(form.csv) }}
        <br/><br/>
        {{ form_row(form.save) }}
        {{ form_end(form) }}
    </section>

{% endblock %}
