{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Administratorbereich{% endblock %}

{% block body %}

    <a class="logout-btn simple-a" href="{{ path('logout') }}" style="float: right;">logout</a>

    <br/>
    <h1>Administrator-Bereich:</h1>
    <section class="upload-csv">

        {{ form_start(form) }}
        {{ form_label(form.csv) }}
        <br/>
        {{ form_errors(form.csv) }}
        {{ form_widget(form.csv) }}
        <br/><br/>
        {{ form_row(form.save) }}
        {{ form_end(form) }}
    </section>

{% endblock %}
