{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Administratorbereich{% endblock %}

{% block headerBalken2 %}
    <h1 class="col-8 header-titel">Administratorbereich</h1>
    <div class="col-4 logout-btn">
        <a class="simple-a" href="{{ path('logout') }}" title="als Administrator abmelden">logout</a></div>
{% endblock %}

{% block body %}

    <br/>

    <a class="simple-a" href="{{ path('admin') }}">Zurück zur Uploadseite</a>
    <br/><br/>

    <h3>Error-Liste:</h3>
    <p>
        {% for error in errorList %}
            {{ error }}
            <br/><br/>
        {% endfor %}
    </p>
    <br/><br/>

    <a class="simple-a" href="{{ path('admin') }}">Zurück zur Uploadseite</a>

    <br/><br/>

{% endblock %}
